.cart--title {
  color: #0f1d2d;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}

.cart {
  display: flex;
  margin-top: 15px;
  margin-bottom: 100px;
  gap: 44px;
}

.cartProduct--list {
  display: flex;
  flex-direction: column;
  min-width: 710px;
  gap: 32px;
  padding: 35px 30px;
  border-radius: var(--Size-Base-size, 16px);
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(196, 196, 196, 0.25);
}

.cartProduct--item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.cartProduct--item:not(:last-child):not(:only-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid #f0f0f0;
}

.cartProductItem--info {
  display: flex;
  gap: 21px;
}

.cartProductItem--img {
  width: 126px;
  height: 115px;
  border-radius: 16px;
}

.cartProductItem--desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cartProductItem--tag {
  color: #777;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: normal;
}

.cartProductItem--title {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}

.cartProductItem--price {
  margin-top: 4px;
  color: #19304b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cartProductItem--footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}

.cartProductItem--footer div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.cartProductItem--detail {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 0.5px solid #0f1d2d;
  background: #fff;
}

.cartProductItem--color {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #0f1d2d;
}

.cartProductItem--delete {
  cursor: pointer;
}

.cartProductItem--delete:hover {
  color: #dc1f21;
}

.cartProducts--summary {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 15px;
  padding: 56px 47px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(196, 196, 196, 0.25);
}

.cartProducts--title {
  color: #19304b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cartProducts--item {
  display: flex;
  justify-content: space-between;
}

.cartProducts--text {
  color: #19304b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cartProducts--price {
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cartProducts--promo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 16px;
}

.cartProducts--promo-input {
  border-radius: 16px;
  border: 0.5px solid #4a90e2;
  background: #fff;
  padding: 20px 16px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cartProducts--promo-input::placeholder {
  color: #777;
}

.cartProducts--info {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.cartProducts--price-total {
  color: #19304b;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cartProducts--checkout {
  padding: 14px 29px;
  border-radius: 8px;
  border: none;
  background: #4a90e2;

  color: #fdfefb;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.cart--noItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 5px;
}

.cartNoItem--title {
  color: #19304b;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cartNoItem--desc {
  color: #254871;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cartNoItem--link {
  color: #4a90e2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
    gap: 24px;
  }

  .cartProduct--list {
    min-width: 100%;
  }

  .cartProducts--summary {
    width: 100%;
  }
}
