.checkoutSuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  max-width: 529px;
  gap: 12px;
}

.checkoutSuccess--mark {
  width: 61px;
  height: 61px;
  align-self: center;
}

.checkoutSucess--title {
  color: #19304b;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.checkoutSuccess--desc {
  color: #254871;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkoutSuccess--subTitle {
  color: #19304b;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: flex-start;
  margin-top: 8px;
}

.checkoutSuccess--info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.checkoutSuccess--info p {
  color: #333;
  font-size: 0.857rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkoutSuccess--info p:nth-child(2) {
  display: flex;
  max-width: 261px;
  text-align: justify;
}

.checkoutSuccess--btn {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  background: #4a90e2;
  padding: 14px;
  border: none;
  color: #fdfefb;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.checkoutSuccess--btn:hover {
  background: #aa4a41;
}

.checkoutSuccess--view {
  width: 100%;
  padding: 14px 29px;
  background: transparent;
  border: none;

  color: #4a90e2;
  text-align: center;

  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.checkoutSuccess--view:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .checkoutSuccess {
    padding: 50px 20px;
  }
}